#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
port=3306
socket=/tmp/mysql.sock

[mysqld]
port=3306
socket=/tmp/mysql.sock
user=mysql
basedir=/usr/local/mariadb
datadir=/data/mariadb/data
pid-file=/data/mariadb/log/mariadb.pid

skip-name-resolve
server-id=1001

log_bin=/data/mariadb/log-bin/binlog
binlog_format=ROW
max_binlog_size=256M

log-error=/data/mariadb/log/db-error.log
slow_query_log
long_query_time=1
slow_query_log_file=/data/mariadb/log/db-slow.log

innodb_buffer_pool_size=2GB
innodb_file_format=Barracuda


